<!DOCTYPE html>
{% extends 'base.html'%}

{%block header-block%}

<h3 class="text-success">User Login Page</h3>

{% endblock %}
{%block  body-block %}
  <div align="center">


    <form  action="check/" method="post">
      {% csrf_token %}
      <table>
        <tr>
          <td>UserName:</td>
          <td><input type="text" name="username" value="" required></td>
        </tr>
        <tr>
          <td>Password:</td>
          <td><input type="password" name="password" value="" required></td>

        </tr>
        <tr>
          <td></td>
          <td><input type="submit" class="btn btn-primary" name="submit" value="Login"></td>
        </tr>
      </table>
    </form>
      </div>
{% endblock %}
